.main_view {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f5f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;

  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
}

.btn {
  background: #3399ff;
  color: white;
  font-weight: 400;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  border-radius: 3px;
  padding: 3px 45px;
}

.chessboard {
  width: 100%;
}

.chessboard_row {
  width: 100%;
  height: 12.5%;
  display: flex;
  flex-direction: row;
}

.div_center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

.chessboard_item {
  width: 100%;
  height: 100%;
  font-size: 2em;
  color: red;
}

.white_start .chessboard_item {
  background: white;
}

.white_start .chessboard_item:nth-child(2n) {
  background: black;
}

.black_start .chessboard_item {
  background: black;
}

.black_start .chessboard_item:nth-child(2n) {
  background: white;
}
